/node_modules

/storage/*.key
/storage

/public/css
/public/js
/public/hot
/public/storage

/vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.php-cs-fixer.cache

/resources/js/ziggy.js
