openapi: 3.0.0

info:
  title: KA-Huis REST API
  description: This documentation covers the official REST API of the KA-Huis.
  version: 1.0.0

servers:
  - url: http://acc-ka.jstlwk.dev/v1
    description: Acceptance Environment

components:
  securitySchemes:
    oAuth:
      type: oauth2
      description: This API uses OAuth 2 with the Authorization Code PKCE grant type.
      flows:
        authorizationCode:
          authorizationUrl: http://acc-ka.jstlwk.dev/v1/oauth/authorize
          tokenUrl: http://acc-ka.jstlwk.dev/v1/oauth/token
          refreshUrl: http://acc-ka.jstlwk.dev/v1/oauth/token/refresh
          scopes: {}

  schemas:
    Reservation:
      type: object
      properties:
        id:
          type: integer
          format: bigint20
        starts_at:
          type: string
          format: date-time
        ends_at:
          type: string
          format: date-time
        space_id:
          type: integer
          format: bigint20
        group_id:
          type: integer
          format: bigint20
        created_by_user_id:
          type: integer
          format: bigint20
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
      required:
        - id
        - starts_at
        - ends_at
        - created_by_user_id

    Group:
      type: object
      properties:
        id:
          type: integer
          format: bigint20
        name:
          type: string
        group_type_id:
          type: integer
          format: bigint20
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
        group_type:
          allOf:
            - $ref: '#/components/schemas/GroupType'
      required:
        - id
        - name
        - group_type_id

    GroupType:
      type: object
      properties:
        id:
          type: integer
          format: bigint20
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted_at:
          type: string
          format: date-time
        groups:
          type: array
          items:
            $ref: '#/components/schemas/Group'
      required:
        - id
        - name


security:
  - oAuth: []

paths: {}
